// -----------------------------------------------------------------------------
// Convenia Basic Theme
// -----------------------------------------------------------------------------


body
  background: white
