// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


@font-face
  font-family: "Vera"
  src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf")
